.contenedor-botones-filtro{
    gap: 20px;
    justify-content: center;
}
.filtro-fecha{
    max-width: 300px;
    gap: 10px
}
.form-reportar{
    max-width: 500px;
    margin: auto
}
.lista-visitas .card-body{
    font-size: 0.95rem;
}
.lista-visitas .card-body strong{
    color: var(--activo-li-navegacion);
}
#contenidoServicios .contenido i,#contenidoServicios .contenido span{
    font-size: 0.9rem !important;
}
.img-guias{
    display: block;
    width: 200px;
    min-width: 200px;
    object-fit: contain;
    height: 100px;
}
.txtdescripcion{
    min-width: 250px;
    height: 100px !important;
}
.dropdown-item > *{
    pointer-events: none;
    user-select: none;
}