!public/
!.gitignore
/cotizacion/*
/formatoVisitas/*
/imgCotizacionPre/*
/informeImgSeccion/*
/publicidad/*
/firmaEntregaActas/*
/imgInformes/*
/preCotizacionImgSeccion/*
/avatars/*
/cotizacionDocumentos/*
/productos/*